<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>sso</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml" />


    <property name="log.path" value="data/logs"/>
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <!--            <appender-ref ref="DEBUG_FILE"/>-->
    </root>
</configuration>